footer {
    background: #00284E;
    padding: 2.5em 0;
}

footer .container {
    width: 95%;
}

@media (max-width: 767px) {
    footer .footer-content {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    footer .footer-content .footer-inner:nth-child(2) {
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    footer {
        padding: 0;
    }
}

footer .container {
    max-width: 1320px;
}

footer .footer-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 44px 0 10px;
}

@media (max-width: 767px) {
    footer .footer-inner {
        padding: 25px 0 10px;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .logo-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .mob-border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 30px;
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    footer .footer-inner:first-child .col-md-5 {
        padding-top: 1.5em;
        margin-top: 1.5em;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}

@media (max-width: 767px) {
    footer .footer-inner:nth-child(2) .col-md-5:first-child {
        order: 3;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 1.5em;
    }
}

footer .footer-inner:last-child {
    border-bottom: 0;
}

@media (max-width: 767px) {
    footer .footer-inner:last-child .d-flex {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    footer .footer-inner.copyright {
        padding: 25px 0;
    }
}

@media (max-width: 767px) {
    footer .footer-inner.copyright .card-block {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer .footer-inner.copyright .card-block {
        flex-direction: column !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer .footer-inner.copyright .card-block .visa {
        margin-bottom: 25px;
    }
}

footer .footer-inner.copyright p {
    color: #9EB8C9;
    font-size: 14px !important;
    font-family: 'Gilroy', sans-serif;
}

@media (max-width: 980px) {
    footer .footer-inner.copyright p {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner.copyright p {
        font-size: 11px !important;
    }
}

footer .footer-inner.copyright p a {
    color: #9EB8C9;
    border-bottom: 1px solid #9EB8C9;
}

footer .footer-inner.copyright img {
    max-width: 222px;
    object-fit: contain;
}

@media (min-width: 768px) and (max-width: 1200px) {
    footer .footer-inner.copyright img {
        max-width: 170px;
    }
}

footer .footer-inner.copyright .footer-copyright {
    color: #fff;
    margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer .footer-inner.copyright .footer-copyright {
        margin-right: 15px;
    }
}

footer .footer-inner.copyright .visa {
    max-width: 80px;
    cursor: pointer;
    margin-right: 30px;
}

@media (max-width: 767px) {
    footer .footer-inner.copyright .visa {
        margin-bottom: 25px;
    }
}

footer .footer-inner.copyright .mastercard {
    max-width: 110px;
    cursor: pointer;
}

footer .footer-inner .social {
    display: flex;
    background-color: #E39B66;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.2;
    margin-right: 20px;
    transition-duration: .3s;
    align-items: center;
    justify-content: center;
}

footer .footer-inner .social img {
    width: 22px;
}

footer .footer-inner .social img.inst {
    width: 20px;
}

footer .footer-inner .social:hover {
    opacity: .8;
}

@media (max-width: 980px) {
    footer .footer-inner .social {
        width: 32px;
        height: 32px;
        line-height: 2;
    }
}

footer .footer-inner ul {
    padding-left: 0;
}

footer .footer-inner ul li {
    list-style: none;
}

footer .footer-inner .footer-contacts {
    /*margin-top: 10px;*/
    width: 50%;
    margin-bottom: 20px;
}

@media (max-width: 980px) {
    footer .footer-inner .footer-contacts {
        margin-bottom: 20px;
        text-align: left;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-contacts {
        margin-top: -3px;
    }
}

footer .footer-inner .footer-contacts .footer-phone {
    position: relative;
    padding-left: 55px;
}

@media (max-width: 980px) {
    footer .footer-inner .footer-contacts .footer-phone {
        padding-left: 37px;
    }
}

footer .footer-inner .footer-contacts .footer-phone span {
    font-weight: bold;
    font-size: 20px !important;
    line-height: 1;
    color: #9EB8C9;
    border-bottom: 1px solid transparent;
    transition-property: border-bottom-color;
    transition-duration: .3s;
}

@media (max-width: 980px) {
    footer .footer-inner .footer-contacts .footer-phone span {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-contacts .footer-phone span {
        font-size: 14px !important;
    }
}

footer .footer-inner .footer-contacts .footer-phone span:hover {
    border-color: #fff;
}

@media (min-width: 981px) and (max-width: 1300px) {
    footer .footer-inner .footer-contacts .footer-phone span {
        font-size: 16px !important;
    }
}

@media (max-width: 980px) {
    footer .footer-inner .footer-contacts .footer-phone:before {
        width: 32px;
        height: 32px;
    }
}

footer .footer-inner .footer-contacts .footer-email {
    font-weight: 400;
    font-size: 17px !important;
    text-decoration: none;
    color: #98B9CB;
    border-bottom: 1px solid #98B9CB;
    transition-property: border-bottom-color, color;
    transition-duration: .3s;
    margin-top: 1.2em;
    display: inline-block;
}

@media (max-width: 980px) {
    footer .footer-inner .footer-contacts .footer-email {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-contacts .footer-email {
        font-size: 12px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-contacts .footer-email {
        margin-left: 32px;
    }
}

footer .footer-inner .footer-contacts .footer-email:hover {
    border-bottom-color: transparent;
    color: #ffff;
}

footer .footer-inner .footer-menu {
    width: 50%;
}

footer .footer-inner .footer-menu a {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #9EB8C9;
    border-bottom: 1px solid transparent;
    transition-property: border-bottom-color, color;
    transition-duration: .3s;
}

@media (max-width: 980px) {
    footer .footer-inner .footer-menu a {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .footer-menu a {
        font-size: 14px !important;
    }
}

@media (min-width: 981px) and (max-width: 1200px) {
    footer .footer-inner .footer-menu a {
        font-size: 14px !important;
    }
}

footer .footer-inner .footer-menu a:hover {
    border-bottom-color: #fff;
    color: #ffff;
}

footer .footer-inner .footer-menu li {
    margin-bottom: 10px;
}

footer .footer-inner .footer-logo {
    max-width: 260px;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 767px) {
    footer .footer-inner .footer-logo {
        max-width: 212px;
        margin-bottom: 30px;
        margin-top: 0;
    }
}

footer .footer-inner .footer-copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #98B9CB;
}

@media (max-width: 767px) {
    footer .footer-inner .footer-copyright ~ li br {
        display: none;
    }
}

footer .footer-inner .footer-info {
    padding: 14px;
    background: rgba(231, 241, 249, 0.1);
    border-radius: 16px;
    font-style: normal;
}

footer .footer-inner .footer-info img {
    height: 85px;
}

footer .footer-inner .not-medecin {
    color: #9EB8C9;
    font-weight: bold;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px !important;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    text-align: center;
    padding: 17px 20px;
}

@media (max-width: 980px) {
    footer .footer-inner .not-medecin {
        font-size: 18px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .not-medecin {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    footer .footer-inner .not-medecin {
        margin-bottom: -1em;
    }
}

footer h4 {
    font-size: 20px !important;
    color: #9EB8C9;
    margin-bottom: 0.8em;
    font-family: 'Gilroy', sans-serif;
}

@media (max-width: 980px) {
    footer h4 {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    footer h4 {
        font-size: 14px !important;
    }
}

@media (min-width: 981px) and (max-width: 1300px) {
    footer h4 {
        font-size: 16px !important;
    }
}

.scrollTop {
    position: fixed;
    right: 5%;
    bottom: 85px;
    padding: 20px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 999;
}

.scrollTop a {
    font-size: 18px;
    color: #fff;
}

.scrollTop a i {
    color: #9EB8C9;
    font-size: 45px;
}

/*# sourceMappingURL=footer.css.map */
