/* colors */
/* variables */
/* mixins */

.slide-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-toggle {
    cursor: pointer;
    height: 1.5rem;
    left: 3.5rem;
    position: fixed;
    width: 3.6rem;
    z-index: 2;
}

@media (max-width: 767px) {
    .nav-toggle {
        left: 2rem;
        top: 1.5rem;
    }
}

.nav-toggle:hover .nav-toggle-bar {
    background: #E39B66;
}

.nav-toggle:hover .nav-toggle-bar::after {
    background: #E39B66;
}

.nav-toggle:hover .nav-toggle-bar::before {
    background: #E39B66;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    /*-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
    background: #fff;
    content: '';
    width: 44px;
    height: 2px;
    transition: all .5s;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .nav-toggle .nav-toggle-bar,
    .nav-toggle .nav-toggle-bar::after,
    .nav-toggle .nav-toggle-bar::before {
        height: 3px;
        width: 25px;
    }
}

.nav-toggle .nav-toggle-bar::after {
    width: 20px;
}

@media (max-width: 767px) {
    .nav-toggle .nav-toggle-bar::after {
        width: 20px;
    }
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.4em;
}

@media (max-width: 767px) {
    .nav-toggle .nav-toggle-bar::after {
        margin-top: 0.4em;
    }
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.5em;
}

@media (max-width: 767px) {
    .nav-toggle .nav-toggle-bar::before {
        margin-top: -0.6em;
    }
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: #2b3742;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
    background: #000;
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #000;
}

.nav-toggle.expanded {
    left: 16.5rem;
}

@media (max-width: 767px) {
    .nav-toggle.expanded {
        left: 20.5rem;
    }
}

.nav-toggle.expanded .nav-toggle-bar,
.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    width: 19px;
}

/* nav */
.nav-menu {
    background: #fff;
    color: #000;
    cursor: pointer;
    /*display: flex;*/
    font-size: 2rem;
    height: 100vh;
    left: -20rem;
    padding: 4rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    transition: left .5s;
    width: 20rem;
    z-index: 1;
}

@media (max-width: 767px) {
    .nav-menu {
        width: 100%;
        left: -100%;
    }
}

.nav-menu.expanded {
    left: 0;
}

.nav-menu.expanded ul li {
    line-height: 1.2;
}

.nav-menu.expanded .navigation__languages {
    position: absolute;
    bottom: 35px;
}

.nav-menu ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
}

.nav-menu ul li a {
    color: #00284F;
    border-bottom: 2px solid transparent;
}

@media (min-width: 768px) {
    .nav-menu ul li a {
        padding-left: 0;
    }
}

.nav-menu ul li a:hover {
    border-bottom-color: #00284F;
}

.nav-menu ul li:first-child a {
    font-weight: 600;
    /*font-size: 28px!important;*/
}

#nav .navigation__languages li {
    display: inline-block;
    font-size: 16px;
}

#nav .navigation__languages li a {
    font-size: 16px !important;
}

/*# sourceMappingURL=menu.css.map */
